<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileSize>200</FileSize>
  <ImgFormat>png,jpg,gif,bmp</ImgFormat>
  <OrderTime>7</OrderTime>
  <SetOrderTime>14</SetOrderTime>
  <Commission>10</Commission>
  <log>img/1b19b48a-02da-4038-af3d-a44ec3e3c212.jpg</log>
  <phone>400-813-1117</phone>
  <mail>corp@dajie.com</mail>
  <bgtu>img/4fd040cd-6bf9-4321-a982-c98ea611eaac.jpg</bgtu>
  <QRCode>img/img_2_1.png</QRCode>
  <Edition>1.1</Edition>
</siteconfig>